<div id="main-container">
    <h1>Cinema
        <br>
        Ironhack</p>
    </h1>
    <div class="title-container">
        <form action="/movies">
            <input type="submit" value="Check the movies!">
        </form>
    </div>
</div>