body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
 #main-container {
  background: url(/images/cinema.jpg) no-repeat;
  background-size: 1400px 968px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
} 
/* ¿Podría explicarme como poner la foto de tal manera que quede como cover pero 
que se vea de la misma manera que en la explicación del lab? Lo he intentado de todas
las maneras posibles pero no veo como hacerlo*/
#main-container h1{
  position: absolute;
  top: 10%;
  left: 60%;
  font-size: 100px;
  color: white;
}
input[type="submit"] {
  width: 200px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 20px;
  color: #6699CC;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 60%;
}
.title-movies {
  text-align: center;
  left: 50% !important;
  top: 15% !important;
  transform: translate(-50%, -50%);
  position: absolute;
  color: black;
}
.title-movies h3 {
  font-size: 60px;
}
.title-movies p {
  font-size: 30px;
}
.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 4rem;
  margin: 15rem 7rem;
}
#styling-container {
  list-style-type: none;
  text-align: center;
}
.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.details-container img {
  width: 20%;
  margin-right: 2%;
}
.details-container .info-container {
  width: 30%;
  font-size: 16px;
}
#font-stars {
  font-weight: bold;
}
.details-container #info{
   color: brown;
}
#button:hover {
  filter: grayscale(100%);
  transform: translate(-50%, -50%) scale(1.2);
}



